# ASPECT output files
output/
*.gnuplot
*.pvd

# Paraview files
*.pvsm

# Hamilton files
/figures/
/var/
/scripts/**/aspect
/scripts/**/libperplexaspect.so
/scripts/**/tmp/
/scripts/**/slurm*.err
/scripts/**/slurm*.out

# Temporary files
.*.swp
